.features__title {
    color: var(--main-color);
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
    margin: auto;
}

.features__slogan {
    color: var(--additional-color);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}

.features img {
    margin: auto;
    width: 90%;
}

.properties__item img {
    height: 44.75px;
    margin: auto;
    width: 44.75px;
}

.properties__title {
    color: var(--main-color);
    font-weight: 800;
    font-size: 2.8rem;
    text-align: center;
    margin: auto;
}

.properties__description {
    color: var(--additional-color);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}

/*fastest section*/
.fastest__title {
    color: var(--main-color);
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
    top: 50%;
}

.fastest__slogan {
    color: var(--additional-color);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    top: 50%;
}

.fastest__button {
    background-color: #2091F9;
    border-radius: 35px;
    color: var(--accent-color);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    max-width: 200px;
}

.fastest img {
    margin: auto;
    width: 378.95px;
    height: 211.89px;
}

/* Newsletter section */

.newsletter__text {
    color: var(--main-color);
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    margin: auto; 
}

.newsletter__title {
    color: var(--main-color);
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
    top: 50%;
}

.newsletter__slogan {
    color: var(--additional-color);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    top: 50%;
}

.newsletter img {
    height: 295px;
    margin: auto;
    width: 389px;
}

/* Subscribe section */

.subscribe__title {
    color: var(--main-color);
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    top: 50%;
}

.subscribe__slogan {
    color: var(--additional-color);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    top: 50%;  
}

input[type="email"] {
    background-color: #F4F4F4;;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    display: flex;
    margin: auto;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    line-height: 16px;
  }

  input[type="email"]::placeholder {
    color: #18171D;
    font-style: normal;
  }

  .subscribe__button {
    background-color: #2091F9;
    border: none;
    border-radius: 39px;
    color: var(--accent-color);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    max-width: 320px;
  }